<div style="background-color:#cce6ff">
        <%= blue.select(:gate_number, options_for_select([['1',1],['2',2],['3',3],['4',4]], blue.object.gate_number)) %>
        <%= blue.select(:rider_name, options_for_select([[@meeting.home_rider_1, @meeting.home_rider_1],
                                                            [@meeting.home_rider_2, @meeting.home_rider_2],
                                                            [@meeting.home_rider_3, @meeting.home_rider_3],
                                                            [@meeting.home_rider_4, @meeting.home_rider_4],
                                                            [@meeting.home_rider_5, @meeting.home_rider_5],
                                                            [@meeting.home_rider_6, @meeting.home_rider_6],
                                                            [@meeting.home_rider_7, @meeting.home_rider_7]
                                                            ], blue.object.rider_name)) %>
        <%= blue.label :score %>
        <%= blue.select(:score, options_for_select([['0',0],['1',1],['2',2],['3',3]], blue.object.score)) %>
</div>